{% extends "dashboard/base.html" %}
{% load humanize %}
{% block title %}R2H2: Component Library{% endblock %}

{% block content %}

<div style="position: absolute; top: 0.9rem; left: 19rem; z-index: 1000;">
    <h2 style="color: #ffffff; font-weight: 100;">Component Library</h2>
</div>

<div class="row">

    {% for comp in components %}
    <div class="col s12 m4">
        <a href="{% url 'dashboard-browse' comp.table %}">
            <div class="card glass-card">
                <div class="card-content">
                    <span class="card-title" style="font-size: 20px;">{{ comp.label }}</span>
                    <h4>{{ comp.count|intcomma }}</h4>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}

</div>


{% endblock %}
